version: "3.9"

services:
  strapi:
    image: strapi/strapi:latest
    container_name: strapi
    ports:
      - "1337:1337"
    volumes:
      - ./backend:/srv/app

  react:
    image: node:20
    container_name: react
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm start"
